apiVersion: batch/v1
kind: Job
metadata:
  name: net-sender
spec:
  backoffLimit: 3
  template:
    metadata:
      name: net-receiver
    spec:
      initContainers:
        - name: wait
          image: curlimages/curl:8.10.1
          command: [ "sh", "-c", "until curl -X POST -fsS http://net-svc:8080/upload; do sleep 0.2; done" ]
      containers:
        - name: net-sender
          image: net-sender:local
          envFrom:
            - configMapRef:
                name: bench-env
          env:
            - name: HOST
              value: "net-svc"
            - name: PORT
              value: "8080"
      restartPolicy: OnFailure
